.c-button {
  display: inline-block;
  padding: 0.75em;
  background: map-get($cs-contrast, a);
  font-weight: 700;
  transition: background 0.2s, color 0.2s;
  &:hover,
  &:focus {
    background-color: mix(map-get($cs, a), map-get($cs-contrast, a), 30%);
    text-decoration: none;
  }
}

.c-button--secondary {
  padding: 0.5625em;
  border: 0.1875em solid map-get($cs-contrast, a);
  background: transparent;
}

.c-button--github {
  padding-left: 3.25em;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-136.000000, -55.000000)"><path d="M152.6 55.5C143.6 55.5 136.3 62.7 136.3 71.7 136.3 78.9 141 85 147.5 87.2 148.3 87.4 148.6 86.8 148.6 86.4 148.6 86 148.6 85 148.6 83.6 144 84.6 143.1 81.5 143.1 81.5 142.3 79.6 141.3 79.1 141.3 79.1 139.8 78.1 141.4 78.1 141.4 78.1 143 78.2 143.9 79.8 143.9 79.8 145.3 82.3 147.7 81.5 148.6 81.1 148.8 80.1 149.2 79.4 149.6 78.9 146 78.5 142.2 77.1 142.2 70.9 142.2 69.1 142.9 67.7 143.9 66.5 143.7 66.1 143.2 64.5 144.1 62.2 144.1 62.2 145.4 61.8 148.5 63.9 149.8 63.5 151.2 63.3 152.6 63.3 154 63.3 155.4 63.5 156.7 63.9 159.8 61.8 161.2 62.2 161.2 62.2 162.1 64.5 161.5 66.1 161.3 66.5 162.4 67.7 163 69.1 163 70.9 163 77.2 159.2 78.5 155.6 78.9 156.1 79.4 156.7 80.4 156.7 81.9 156.7 84.1 156.6 85.9 156.6 86.4 156.6 86.9 156.9 87.4 157.8 87.2 164.2 85 168.9 78.9 168.9 71.7 168.9 62.7 161.6 55.5 152.6 55.5" fill="#161614"/></g></g></svg>');
  background-position: 0.75em center;
  background-repeat: no-repeat;
}

.c-button--contrast {
  &.c-button--secondary {
    &,
    &:visited {
      color: map-get($cs-contrast, a);
    }
    &:hover,
    &:focus {
      background-color: map-get($cs-contrast, a);
      color: map-get($cs, a);
    }
  }
}
