.c-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1em;
  padding-left: 1em;
  min-height: 34em;
  max-height: 67.5em;
  height: 100vh;
  background: map-get($cs, a);
  color: #fff;
  text-align: center;
}

.c-hero__sub-title {
  display: block;
  margin-top: 0.35em;
  font-weight: map-get-deep($fonts, a, weights, normal);
  font-size: 0.5em;
}
