{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-0"
  ],
  "env": {
    "ava": {
      "presets": [
        "es2015",
        "stage-0"
      ]
    }
  }
}
