{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-empty-line-before": ["always", {
      except: ["all-nested", "blockless-group"]
    }],
    "block-closing-brace-newline-after": ["always", {
      "ignoreAtRules": ["if", "else"]
    }],
    "font-weight-notation": "numeric",
    "function-url-quotes": "always",
    "string-quotes": "single",
    "value-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "max-nesting-depth": [1, {
      ignore: ["at-rules-without-declaration-blocks"]
    }],
    "no-descending-specificity": true,
    "no-indistinguishable-colors": true
  }
}
