$colors: (
  a: #52787b,
  b: #52787b,
  c: #52787b,
  d: #52787b,
  e: #52787b,
);

$colors-contrast: (
  a: #fff,
  b: #fff,
  c: #fff,
  d: #fff,
  e: #fff,
);

$o-container-max-widths: (
  s: 42rem,
  m: 64rem,
  l: 96rem
);
