.c-button {
  display: inline-block;
  padding: 0.75em;
  background: setting-color(a, contrast);
  font-weight: 700;
  transition: background 0.2s, color 0.2s;

  &:hover,
  &:focus {
    background-color: mix(setting-color(a), setting-color(a, contrast), 30%);
    text-decoration: none;
  }
}

.c-button--secondary {
  padding: 0.5625em;
  border: 0.1875em solid setting-color(a, contrast);
  background: transparent;
}

.c-button--github {
  padding-left: 3.25em;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2233%22%20height%3D%2233%22%20viewBox%3D%220%200%2033%2033%22%20version%3D%221.1%22%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate(-136.000000%2C%20-55.000000)%22%3E%3Cpath%20d%3D%22M152.6%2055.5C143.6%2055.5%20136.3%2062.7%20136.3%2071.7%20136.3%2078.9%20141%2085%20147.5%2087.2%20148.3%2087.4%20148.6%2086.8%20148.6%2086.4%20148.6%2086%20148.6%2085%20148.6%2083.6%20144%2084.6%20143.1%2081.5%20143.1%2081.5%20142.3%2079.6%20141.3%2079.1%20141.3%2079.1%20139.8%2078.1%20141.4%2078.1%20141.4%2078.1%20143%2078.2%20143.9%2079.8%20143.9%2079.8%20145.3%2082.3%20147.7%2081.5%20148.6%2081.1%20148.8%2080.1%20149.2%2079.4%20149.6%2078.9%20146%2078.5%20142.2%2077.1%20142.2%2070.9%20142.2%2069.1%20142.9%2067.7%20143.9%2066.5%20143.7%2066.1%20143.2%2064.5%20144.1%2062.2%20144.1%2062.2%20145.4%2061.8%20148.5%2063.9%20149.8%2063.5%20151.2%2063.3%20152.6%2063.3%20154%2063.3%20155.4%2063.5%20156.7%2063.9%20159.8%2061.8%20161.2%2062.2%20161.2%2062.2%20162.1%2064.5%20161.5%2066.1%20161.3%2066.5%20162.4%2067.7%20163%2069.1%20163%2070.9%20163%2077.2%20159.2%2078.5%20155.6%2078.9%20156.1%2079.4%20156.7%2080.4%20156.7%2081.9%20156.7%2084.1%20156.6%2085.9%20156.6%2086.4%20156.6%2086.9%20156.9%2087.4%20157.8%2087.2%20164.2%2085%20168.9%2078.9%20168.9%2071.7%20168.9%2062.7%20161.6%2055.5%20152.6%2055.5%22%20fill%3D%22%23161614%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-position: 0.75em center;
  background-repeat: no-repeat;
}

.c-button--contrast {
  // stylelint-disable
  &.c-button--secondary {
    &,
    &:visited {
      color: setting-color(a, contrast);
    }

    &:hover,
    &:focus {
      background-color: setting-color(a, contrast);
      color: setting-color(a);
    }
  }
  // stylelint-enable
}
