.c-hero {
  display: flex;
  padding-right: 1em;
  padding-left: 1em;
  min-height: 34em;
  max-height: 67.5em;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: setting-color(a);
  color: #fff;
  text-align: center;
}

.c-hero__sub-title {
  display: block;
  margin-top: 0.35em;
  font-weight: 400;
  font-size: 0.5em;
}
