pre[class*='language-'] {
  padding: 0 setting-spacing(s);
  font-size: 0.75em;
}

pre {
  position: relative;

  &::before {
    position: absolute;
    top: 0.1em;
    right: 0.5em;
    text-shadow: none;
  }
}

pre.language-html::before {
  content: 'HTML';
}

pre.language-javascript::before {
  content: 'JavaScript';
}
