.c-quick-demo__link {
  display: block;
  position: relative;
  border: 1em solid #fff;
  transition: opacity 0.2s;

  &::before,
  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
  }

  &::before {
    border: 2em solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
  }

  &::after {
    right: 0.15em;
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMCIgeT0iMCIgd2lkdGg9IjI2IiBoZWlnaHQ9IjI2IiB2aWV3Qm94PSIwIDAgMjYgMjYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI2IDI2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNMjUuMyAyMS45bC00LjYtNC42Yy0wLjYtMC42LTEuNS0wLjctMi4xLTAuM2wtMC45LTAuOWMxLjMtMS43IDIuMS0zLjggMi4xLTYuMSAwLTUuNC00LjQtOS44LTkuOC05LjhTMC4yIDQuNiAwLjIgMTAgNC42IDE5LjggMTAgMTkuOGMyLjMgMCA0LjQtMC44IDYuMS0yLjFsMC45IDAuOWMtMC40IDAuNy0wLjMgMS42IDAuMyAyLjFsNC42IDQuNmMwLjcgMC43IDEuOSAwLjcgMi42IDBsMC45LTAuOUMyNiAyMy44IDI2IDIyLjYgMjUuMyAyMS45ek0yIDEwYzAtNC40IDMuNi04IDgtOFMxOCA1LjYgMTggMTBzLTMuNiA4LTggOFMyIDE0LjQgMiAxMHoiLz48cG9seWdvbiBmaWxsPSIjMzMzMzMzIiBwb2ludHM9IjExIDUgOSA1IDkgOSA1IDkgNSAxMSA5IDExIDkgMTUgMTEgMTUgMTEgMTEgMTUgMTEgMTUgOSAxMSA5ICIvPjwvc3ZnPg==');
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.c-quick-demo__img {
  display: block;
}
