$cs: (
  a: #52787b,
);

$cs-contrast: (
  a: #fff,
);

$font-base-color: #222;
$font-base-size: 16px;
$font-base-line-height: 24px;

$font-sizes: (
  xs:   0.64em,
  s:    0.8em,
  m:    1em,
  l:    1.25em,
  xl:   1.563em,
  xxl:  1.953em,
  xxxl: 2.441em,
);

$fonts: (
  a: (
    family: "'Helvetica Neue', sans-serif",
    weights: (
      thin:        100,
      extra-light: 200,
      light:       300,
      normal:      400,
      medium:      500,
      semi-bold:   600,
      bold:        700,
      extra-bold:  800,
      ultra-bold:  900,
    ),
  ),
);

$breakpoints: (
  s:  30em,
  m:  45em,
  l:  60em,
  xl: 75em,
);

$spacing: (
  xs:   0.5em,
  s:    1em,
  m:    1.5em,
  l:    2em,
  xl:   3em,
  xxl:  4em,
  xxxl: 5em,
);

$namespace: (
  utility:   'u-',
  object:    'o-',
  component: 'c-',
);
